/*Colours
=======================================================================================================================
*/
/*Fonts
=======================================================================================================================
*/
/*Breakpoints
=======================================================================================================================
*/
/* Extra small devices (mobile devices, 320px and up) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*Mixins
=======================================================================================================================
*/
/*
=======================================================================================================================
*/
body {
  font-family: Carrois Gothic Regular, sans-serif;
  color: #505050;
  background-color: white; }
  @media screen and (min-width: 1200px) {
    body {
      background: transparent url("../images/groovepaper.png") repeat; }
      body hr {
        display: none; } }
  body a {
    text-decoration: underline;
    color: #e05d6e; }
  body a:hover {
    color: #bf4f5e; }

header {
  background-color: #e3e5da; }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    header {
      background: transparent url("../images/zigzag.png") repeat; } }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    header {
      background: transparent url("../images/zigzag.png") repeat; } }
  @media screen and (min-width: 1200px) {
    header {
      background-color: #505050;
      margin: 0; } }
  header .brand-name {
    color: #505050;
    font-size: 2em;
    float: right;
    font-weight: bold; }
    @media screen and (min-width: 1200px) {
      header .brand-name {
        float: left;
        color: #e3e5da;
        font-size: 3em; } }
    @media screen and (min-width: 992px) {
      header .brand-name {
        color: #dfdfdf; } }
    @media screen and (min-width: 768px) {
      header .brand-name {
        color: #dfdfdf; } }
  header .logo {
    float: left;
    margin-left: -1em; }
  header .site-navbar {
    background-color: #505050;
    padding: 0;
    margin: 0; }
    @media screen and (min-width: 1200px) {
      header .site-navbar .site-nav li {
        float: left;
        left: 0; } }
    @media screen and (min-width: 1200px) {
      header .site-navbar .site-nav {
        float: right;
        right: 0; } }
    @media screen and (min-width: 1200px) {
      header .site-navbar {
        margin-top: 1em; } }

header:after {
  content: '';
  position: relative;
  border-style: solid;
  border-width: 1.5em 1.5em 0;
  border-color: #505050 transparent;
  display: none;
  width: 0;
  z-index: 1;
  bottom: -1.5em;
  margin: 0 auto; }
  @media screen and (min-width: 1200px) {
    header:after {
      display: block; } }

section {
  padding: 1em 0.5em 3em 0.5em; }
  @media screen and (min-width: 1200px) {
    section {
      padding: 1em 1em 3em 1em; } }

.section-title, .section-title-inverse {
  padding: 0.5em;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #e05d6e; }
  @media screen and (min-width: 1200px) {
    .section-title, .section-title-inverse {
      padding: 0.5em;
      margin: 1em 0;
      font-size: 2em;
      text-decoration: underline;
      color: #505050;
      background: none; } }

.section-title-inverse {
  background-color: #505050; }
  @media screen and (min-width: 1200px) {
    .section-title-inverse {
      background: none; } }

hr {
  border-top: 0.1em dashed #cccccc;
  margin: 0.1em 0; }

.site-navbar {
  background-color: #505050;
  padding: 0;
  margin: 0; }

.site-nav {
  list-style: none;
  padding: 0; }
  @media screen and (min-width: 1200px) {
    .site-nav {
      padding-left: 0; } }
  .site-nav .active {
    background-image: none;
    color: #cccccc; }

.site-nav-btn, .project-expand-button {
  background: #e05d6e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8597', endColorstr='#e05d6e');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff8597), color-stop(1, #e05d6e));
  background: -moz-linear-gradient(center top, #ff8597 5%, #e05d6e 100%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #505050;
  display: inline-block;
  color: white;
  height: 50px;
  width: 75px;
  text-decoration: none;
  text-align: center;
  float: left;
  cursor: pointer;
  vertical-align: middle;
  padding: 1em 0.25em;
  line-height: 1.428571429; }

.site-nav-btn:hover, .project-expand-button:hover {
  text-decoration: none; }

.intro-section {
  padding-top: 1em;
  background: transparent url("../images/groovepaper.png") repeat; }

@media screen and (min-width: 1200px) {
  .about-section {
    background-color: white;
    padding-bottom: 0; } }
.about-section .grey-snippet {
  background: none; }
  @media screen and (min-width: 1200px) {
    .about-section .grey-snippet {
      margin-bottom: 0; } }
@media screen and (min-width: 1200px) {
  .about-section .description {
    float: right;
    right: 0; } }

.skills-section {
  background-color: #e05d6e; }

.jarhead {
  background: transparent url("../images/pngs/jarhead-fallback.png") center center no-repeat;
  background-image: -webkit-linear-gradient(transparent, transparent), url("../images/svgs/jarhead.svg");
  background-image: linear-gradient(transparent, transparent), url("../images/svgs/jarhead.svg");
  height: 320px;
  padding: 1em;
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 1200px) {
    .jarhead {
      text-align: right;
      float: right;
      right: 0;
      background: transparent url("../images/pngs/jarhead-fallback.png") right center no-repeat; } }

.bubble {
  margin: 0 auto;
  position: relative;
  background: #dfdfdf;
  padding: 0.5em;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .bubble h4 {
    line-height: 1.5em; }
    @media screen and (min-width: 1200px) {
      .bubble h4 {
        font-size: 2.5em; } }
    @media screen and (min-width: 992px) {
      .bubble h4 {
        font-size: 2em; } }
  @media screen and (min-width: 1200px) {
    .bubble {
      background: none;
      text-align: left;
      margin: 0; } }
  @media screen and (min-width: 992px) {
    .bubble {
      background: none;
      text-align: left;
      margin: 0; } }

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #dfdfdf transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  bottom: -15px;
  left: 50%; }
  @media screen and (min-width: 1200px) {
    .bubble:after {
      display: none; } }
  @media screen and (min-width: 992px) {
    .bubble:after {
      display: none; } }

.image-block {
  margin: 0 auto;
  padding: 2em 0;
  text-align: center; }
  @media screen and (min-width: 1200px) {
    .image-block p {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      padding: 1em;
      background-color: #e3e5da;
      border: white solid 0.2em; } }
  @media screen and (min-width: 992px) {
    .image-block p {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      padding: 1em;
      background-color: #dfdfdf;
      border: white solid 0.2em; } }
  @media screen and (min-width: 1200px) {
    .image-block .thumbnail {
      margin-bottom: 0; } }

.highlight-section {
  background-color: #e05d6e; }
  .highlight-section .section-title, .highlight-section .section-title-inverse {
    color: white; }
  .highlight-section .featured-project-image {
    padding: 1em 0; }
    @media screen and (min-width: 768px) {
      .highlight-section .featured-project-image {
        margin: 1em; } }
    @media screen and (min-width: 992px) {
      .highlight-section .featured-project-image {
        margin: 0; } }
    @media screen and (min-width: 1200px) {
      .highlight-section .featured-project-image {
        margin: 0; } }
    .highlight-section .featured-project-image .image {
      padding: 2em; }

.site-btn, .site-btn-inverse, .social-media-section .up-button, .social-media-section .project-header-section .back-button, .project-header-section .social-media-section .back-button {
  background-color: #e05d6e;
  color: white;
  padding: 1em;
  border: none;
  -webkit-box-shadow: 1px 1px 1px #505050;
  -moz-box-shadow: 1px 1px 1px #505050;
  box-shadow: 1px 1px 1px #505050;
  text-decoration: none; }

.site-btn:hover, .site-btn-inverse:hover, .social-media-section .up-button:hover, .social-media-section .project-header-section .back-button:hover, .project-header-section .social-media-section .back-button:hover {
  text-decoration: none;
  color: #505050; }

.site-btn-inverse {
  background-color: #505050; }

.site-btn-inverse:hover {
  color: #e05d6e; }

.expand {
  padding: 1em 0; }
  @media screen and (min-width: 1200px) {
    .expand {
      float: right; } }

.featured-project-description {
  background: transparent url("../images/groovepaper.png") repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-style: dotted;
  padding: 1em; }
  @media screen and (min-width: 1200px) {
    .featured-project-description {
      border: none; } }

@media screen and (min-width: 1200px) {
  .self-promo-section {
    background-color: #e3e5da; } }
@media screen and (min-width: 992px) {
  .self-promo-section .grey-snippet {
    height: 24.5em; } }

@media screen and (min-width: 1200px) {
  .personal-interests-section {
    background: transparent url("../images/groovepaper.png") repeat; } }
@media screen and (min-width: 992px) {
  .personal-interests-section {
    background: transparent url("../images/groovepaper.png") repeat; } }
.personal-interests-section h4 {
  padding: 0.5em 0; }

.snippet, .grey-snippet {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 1em 1.5em 0 0;
  margin: 0.5em 0; }
  @media screen and (min-width: 1200px) {
    .snippet, .grey-snippet {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; } }
  .snippet hr, .grey-snippet hr {
    border: 0.5em solid #e3e5da;
    margin: 0.15em 3em 0 0; }
  .snippet .icon-text-heading, .grey-snippet .icon-text-heading {
    padding: 0.5em 0 0 0.5em; }
    .snippet .icon-text-heading h3, .grey-snippet .icon-text-heading h3 {
      padding-left: 0.5em; }
    @media screen and (min-width: 1200px) {
      .snippet .icon-text-heading, .grey-snippet .icon-text-heading {
        padding: 0; } }
  .snippet .icon, .grey-snippet .icon {
    padding: 0 1em; }
  .snippet h3, .grey-snippet h3 {
    font-size: 1.5em; }
  .snippet h4, .grey-snippet h4 {
    padding-left: 1em; }
  .snippet .description, .grey-snippet .description {
    padding: 0 1em 1em 2em;
    margin-top: 0; }
    @media screen and (min-width: 1200px) {
      .snippet .description, .grey-snippet .description {
        padding: 0.5em 0; } }
    .snippet .description p, .grey-snippet .description p {
      margin: 0 0 1em 0; }
      @media screen and (min-width: 1200px) {
        .snippet .description p, .grey-snippet .description p {
          padding: 0.5em 0; } }

.snippet:hover hr, .grey-snippet:hover hr {
  border: 0.5em solid #e05d6e; }

.grey-snippet {
  background-color: #dfdfdf;
  border: white solid 0.5em; }
  @media screen and (min-width: 1200px) {
    .grey-snippet {
      border: none;
      background-color: #e3e5da; } }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 1em;
  height: 0; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.social-media-section {
  background-color: #e3e5da;
  padding: 1em 0.5em; }
  @media screen and (min-width: 1200px) {
    .social-media-section {
      background: transparent url("../images/zigzag.png") repeat;
      padding: 1em 0; } }
  .social-media-section .social-media-icons {
    padding: 0.5em 0.5em 0 0; }
  .social-media-section .social-media-list {
    padding: 0; }
    .social-media-section .social-media-list li {
      display: inline;
      list-style-type: none;
      margin-left: 0;
      margin-right: 1em;
      float: left;
      left: 0; }
  .social-media-section .brand-icon, .social-media-section .invisible-layer {
    width: 32px;
    height: 32px;
    cursor: pointer; }
  .social-media-section .invisible-layer {
    display: block;
    position: absolute; }
  .social-media-section .linkedin-icon {
    background: transparent url("../images/icons/linkedin-grey-small.png") no-repeat; }
  .social-media-section .linkedin-icon:hover {
    background: transparent url("../images/icons/linkedin-blue-small.png") no-repeat; }
  .social-media-section .twitter-icon {
    background: transparent url("../images/icons/twitter-grey-small.png") no-repeat; }
  .social-media-section .twitter-icon:hover {
    background: transparent url("../images/icons/twitter-blue-small.png") no-repeat; }
  .social-media-section .vimeo-icon {
    background: transparent url("../images/icons/vimeo-grey-small.png") no-repeat; }
  .social-media-section .vimeo-icon:hover {
    background: transparent url("../images/icons/vimeo-blue-small.png") no-repeat; }
  .social-media-section .email-icon {
    background: transparent url("../images/icons/email-grey-small.png") no-repeat; }
  .social-media-section .email-icon:hover {
    background: transparent url("../images/icons/email-pink-small.png") no-repeat; }
  .social-media-section .up-button-area {
    padding-right: 0; }
  .social-media-section .up-button, .social-media-section .project-header-section .back-button, .project-header-section .social-media-section .back-button {
    float: right;
    right: 0;
    -webkit-box-shadow: 1px 1px 1px #505050;
    -moz-box-shadow: 1px 1px 1px #505050;
    box-shadow: 1px 1px 1px #505050;
    background-color: #dfdfdf;
    color: #505050; }
    @media screen and (min-width: 768px) {
      .social-media-section .up-button, .social-media-section .project-header-section .back-button, .project-header-section .social-media-section .back-button {
        background-color: #505050;
        color: white; } }
  .social-media-section .up-button:hover, .social-media-section .project-header-section .back-button:hover, .project-header-section .social-media-section .back-button:hover {
    color: #e05d6e; }
  .social-media-section .icon {
    -webkit-box-shadow: 1px 1px 1px #505050;
    -moz-box-shadow: 1px 1px 1px #505050;
    box-shadow: 1px 1px 1px #505050; }

.graph-snippet {
  padding-bottom: 2em; }

.software-graph h4 {
  padding-bottom: 1.2em; }

.graph {
  padding: 0.5em 0; }

.graph-title {
  color: #e3e5da; }

.project-heading {
  padding-left: 0; }
  @media screen and (min-width: 1200px) {
    .project-heading {
      padding-left: 0; }
      .project-heading h4 {
        font-size: 2em; } }

.project-thumb {
  background-color: #e3e5da;
  border: #cccccc solid 1px; }
  .project-thumb .caption {
    background-color: #505050;
    color: white;
    padding-bottom: 2.5em; }
    @media screen and (min-width: 768px) {
      .project-thumb .caption {
        height: 6em; } }

.project-thumb:hover {
  text-decoration: none; }

@media screen and (min-width: 1200px) {
  .project-intro-section {
    background: #e05d6e url("../images/watson.png") right no-repeat;
    padding-bottom: 1em; }
    .project-intro-section .section-title, .project-intro-section .section-title-inverse {
      color: white; }
    .project-intro-section p {
      font-size: 1.5em;
      padding-top: 2em;
      text-align: right;
      color: #e3e5da; } }

.project-expand-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: right;
  right: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 1.5em;
  padding-top: 0.25em;
  margin-top: 0.5em; }
  @media screen and (min-width: 768px) {
    .project-expand-button {
      position: absolute;
      bottom: 1.5em;
      right: 1em; } }

.overlay-image .thumbnail {
  padding: 0.1em; }
@media screen and (min-width: 1200px) {
  .overlay-image {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5; } }

@media screen and (min-width: 1200px) {
  .overlay-image:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    transition: opacity ease-in-out;
    -moz-transition: opacity ease-in-out;
    -webkit-transition: opacity ease-in-out; } }

.project-context-section .project-container {
  padding: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #e3e5da;
  margin-bottom: 1em; }
  @media screen and (min-width: 1200px) {
    .project-context-section .project-container {
      padding: 0;
      background: none; } }

.project-header-section {
  background: transparent url("../images/zigzag.png") repeat;
  color: #dfdfdf; }
  .project-header-section .back-button {
    background-color: #dfdfdf;
    color: #505050;
    vertical-align: middle;
    bottom: 0;
    float: right; }
  .project-header-section .back-button:hover {
    color: #bf4f5e; }

@media screen and (min-width: 1200px) {
  .project-section .section-title, .project-section .section-title-inverse {
    font-size: 1.5em;
    color: #505050;
    text-align: center;
    text-decoration: none;
    padding-left: 0;
    border-top: 0.1em dotted #e05d6e;
    border-bottom: 0.1em dotted #e05d6e; } }

.project-context-section {
  background-color: white;
  padding: 1em 1em; }
  @media screen and (min-width: 1200px) {
    .project-context-section {
      padding: 2em 0 8em 0; } }

img {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.letterhead {
  font-family: 'Black Ops One', cursive;
  font-size: 3em;
  font-style: normal; }

.manifesto-point {
  margin-bottom: 0; }

.manifesto-snippet {
  margin-top: 0;
  padding-left: 2em;
  padding-right: 2em; }

.push {
  height: 1em; }
  @media screen and (min-width: 1200px) {
    .push {
      background-color: #e05d6e; } }

footer {
  background: transparent url("../images/zigzag.png") repeat; }
  @media screen and (min-width: 1200px) {
    footer {
      background-image: none;
      background-color: #505050; } }
  footer .author-note {
    text-align: center;
    padding: 0.25em;
    color: white; }
    @media screen and (min-width: 1200px) {
      footer .author-note {
        text-align: right;
        padding: 0.25em 0; } }
  @media screen and (min-width: 1200px) {
    footer .site-navbar {
      background: none;
      margin: 0; }
      footer .site-navbar .site-nav .active {
        color: #e05d6e; } }
  @media screen and (min-width: 1200px) {
    footer .site-nav-btn, footer .project-expand-button {
      border: none;
      background: none;
      text-decoration: underline;
      color: #e3e5da;
      padding: 0;
      text-align: left; } }
  @media screen and (min-width: 1200px) {
    footer .site-nav-btn:hover, footer .project-expand-button:hover {
      text-decoration: underline;
      color: #e05d6e; } }

footer:before {
  content: "";
  position: relative;
  top: -1em;
  margin: 0 auto 0 auto;
  border-style: solid;
  border-width: 0 1em 1em;
  border-color: #505050 transparent;
  display: none;
  width: 0;
  z-index: 1; }
  @media screen and (min-width: 1200px) {
    footer:before {
      display: block; } }
