/* Page body
=====================================================================================================
*/

/* ------ Introduction ------ */
.intro {
	h1 {
		border-bottom: 2px solid $darkPink;
		padding-bottom: 0.2em;
	}
}

/* ------ Main content ------ */
section {
	padding-bottom: 1em;
}
h2 {
	background-color: $darkPink;
	color: $white;
	padding: 0.2em;
}

/* ------ Other content ------ */
.contact-area {
	background-color: $grey;
	padding-bottom: 2em;
	h3 {
		margin-top: 0.5em;
	}
	a {
		color: $blackTint25;
	}
	a:hover,
	a:focus {
		color: $darkPink;
	}
}