/*Table of contents
1. Header styles
2. Primary navigation
	2.1 Menu toggle
	2.2 Toggle navigation
=====================================================================================================
*/

/*1. Header styles
=====================================================================================================*/
header {
  background-color: $charcoal;
  padding: 1em 0;
  border-top: 0.5em solid $darkPink;
  -webkit-box-shadow: 0 8px 6px -6px $blackTint50;
  -moz-box-shadow: 0 8px 6px -6px $blackTint50;
  box-shadow: 0 8px 8px -6px $blackTint50;
  .logo {
    color: $white;
    float: left;
    margin: 0.2em 0;
    a {
    	display: block;
    	color: $darkPink;
      	text-decoration: none;
      	font-size: 1.2em;
    }
    a:focus {
    	outline: 1px solid $white;
    }
    .brand {
    	display: none;
    	@media screen and ($break-md) {
    		display: block;
    		float: right;
    		margin-left: 1em;
    		font-size: 1.44em;
    		margin-top: 0.8em;
    		color: $white;
    	}
    }
  }
}

/*2. Primary navigation
=====================================================================================================*/
/*2.1 Menu toggle*/
.toggle-btn {
    padding: 0.5em 1em;
    text-decoration: none;
    border: 1px solid $white;
    @include border-radius(0.5em);
    background: none;
    color: $white;
    font-size: 1.125em;
    transition: color linear 0.2s;
    float: right;
    margin-top: 1em;
    @media screen and ($break-md) {
    	display: none;
    }
}
.toggle-btn:hover, .toggle-btn.active {
	text-decoration:none;
	color: $pinkTint25;
	border-color: $pinkTint25;
}
.toggle-btn:focus {
	outline: 1px solid $white;
	color: $white;
}

/*2.2 Toggle navigation*/
.primary-nav {
	ul.active {
		list-style: none;
		margin-top: 1em;
		position: relative;
		float: left;
		width: 100%;
		padding-bottom: 1px;
		-moz-transition: all .33s ease;
	    -o-transition: all .33s ease;
	    transition: all .33s ease;
	    transform: translateY(5%);
	    height: 130px;
	    @include opacity(1);
	    margin-top: -0.2em;

		@media screen and ($break-md) {
			display: none;
		}
		li {
			margin-left: -2.5em;
			margin-bottom: 0.5em;
			border-bottom: 1px solid $grey;
		}
		.current-item {
			a {
				font-weight: bold;
				color: $pink;
			}
		}
		a {
			text-decoration: none;
			transition: color linear 0.15s;
			color: $white;
			padding: 1em;
			display: block;
		}
		a:focus {
			outline: 1px solid $white;
		}
	}
	ul.toggle-nav {
		//display: none;
		-moz-transition: all .33s ease;
	    -o-transition: all .33s ease;
	    transition: all .33s ease;
	    transform: translateY(5%);
	    height: 0;
	    @include opacity(0);
	    margin-top: -0.2em;
		@media screen and ($break-md) {
			display: block;
			float: right;
			width: auto;
			background: none;
			@include opacity(1);
			margin-top: 1em;
		}
		li {
			@media screen and ($break-md) {
				float: left;
				margin-left: 1em;
				border: 0;
			}
			a {
				color: $white;
			}
			a:hover {
				color: $pinkTint25;
				text-decoration: underline;
			}
		}
		.current-item {
			@media screen and ($break-md) {
				background-color: $grey;
				@include border-radius(0.5em);
			}
			a,
			a:hover,
			a:focus {
				color: $blackTint25;
				text-decoration: none;
			}
		}
	}
}