body {
  height: 100%;
  background-color: #0d0c0d;
  padding-top: 80px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dark-link {
	color: #6a8ca4;
}
.container {
	max-width: 970px;
}

#top-nav {
	margin: 0 auto;
}
#logo.navbar-brand {
	font-size: x-large;
}

#logo.navbar-brand em {
	color: #6a8ca4;
	font-style: normal;
	font-weight: bold;
}

#my-carousel {
	height: 420px;
}

#my-carousel .carousel-indicators li {
	border: 1px solid #0d0c0d;
}

#my-carousel .carousel-indicators .active {
	background-color: #8c8c8c;
}
#my-header.container {
	max-width: 100%;
	background-color: #dfdfdf;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	z-index: 1;
}

#my-header.container .jumbotron {
	background: transparent;
	margin: 0;
	padding: 25px 0;
	height: 420px;
}

#my-header .carousel-control.left, .carousel-control.right {
	background: transparent;
	color: #0d0c0d;
}

#my-header .slide1 {
	background-color: #6a8ca4;
}

#my-header .slide1 h1 {
	font-size: 3.5em;
	font-weight: bold;
	
}

#my-header .slide1 p {
	font-size: 2em;
	padding: 10px 0;
}

#my-header .slide1 .subtext {
	font-size: 1em;
	font-style: normal;
}

#my-header .slide {
	background-color: #ffffff;
	background-image: linear-gradient(top, rgb(223,223,223) 0%, rgb(223,223,223) 34%, rgb(255,255,255) 79%);
	background-image: -o-linear-gradient(top, rgb(223,223,223) 0%, rgb(223,223,223) 34%, rgb(255,255,255) 79%);
	background-image: -moz-linear-gradient(top, rgb(223,223,223) 0%, rgb(223,223,223) 34%, rgb(255,255,255) 79%);
	background-image: -webkit-linear-gradient(top, rgb(223,223,223) 0%, rgb(223,223,223) 34%, rgb(255,255,255) 79%);
	background-image: -ms-linear-gradient(top, rgb(223,223,223) 0%, rgb(223,223,223) 34%, rgb(255,255,255) 79%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(223,223,223)),
		color-stop(0.34, rgb(223,223,223)),
		color-stop(0.79, rgb(255,255,255))
	);
}

#my-header .statement-text em {
	font-size: 2em;
}

#my-header .slide em{
	font-style: normal;
	font-weight: bold;
}

#my-header .slide2 .col-md-5 {
	padding: 0;
}

#my-header .slide3 p{
	font-size: 0.7em;
}

#my-header .self-advert li {
	font-size: 0.7em;
}

#my-header .self-advert {
	padding: 0;
}

#my-header .slide h4 {
	padding: 0;
}

#my-header .slide4 p {
	font-size: 0.7em;
}

#my-header .my-thumbnail {
	margin-top: 80px;
}

#main-content.container {
	max-width: 100%;
	background-color: #dfdfdf;
	padding-left: 0;
	padding-right: 0;
	z-index: 2;
}

#main-content .thumbnail {
	border: none;
	background: transparent;
}
#main-content-bg.container {
  	background:
  	url('images/foreground.png') no-repeat,
  	url('images/buildings2.png') repeat-x;
  	background-position: center bottom, center bottom;
	max-width: 100%;
	height: 200px;
}

.light-bg {
	background-color: #dfdfdf;
	max-width: 100%;
}

.dark-bg {
	background-color: #0d0c0d;
	max-width: 100%;
}

.col-md-5.left-col {
	padding: 5px 0;
}

.col-md-7.right-col {
	padding: 5px 0;
}

#web-branding-logos .thumbnail, #print-graphic-design {
	padding: 0;
}

#web-branding-logos .thumbnail, #print-graphic-design .thumbnail {
	padding: 5px 0;
	background: transparent;
	border: none;
}

.about-header {
	background-color: #000;
	max-width: 100%;
	padding-bottom: 0;
}

.about-header h4 {
	color: #ffffff;
	padding-bottom: 10px;
	font-weight: bold;
}

.about-header p {
	color: #dfdfdf;
}

#manifesto {
	background: transparent url('images/tile.png');
	max-width: 100%;
}

#manifesto h4 {
	font-weight: bold;
}
#manifesto .collect em {
	font-style: normal;
	font-weight: bold;
	font-size: 2em;
}

#education-content {
	background: #0d0c0d;
	color: #dfdfdf;
	max-width: 100%;
}

#education-content .container, #education-content .container .col-md-6 {
	padding-left: 0;
}

#education-content .qualification em {
	font-style: normal;
	font-weight: bold;
}

#education-content ul {
	list-style-type: none;
}

.portfolio-intro {
	padding-top: 25px;
}

.push {
	min-height: 80px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin-bottom: -110px;
  /* Pad bottom by footer height */
  padding: 0 0 25px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 110px;
  background-color: #0d0c0d;
  background: -moz-linear-gradient(top, #0d0c0d 0%, #0d0c0d 38%, #0d0c0d 51%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d0c0d), color-stop(38%,#0d0c0d), color-stop(51%,#0d0c0d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0d0c0d 0%,#0d0c0d 38%,#0d0c0d 51%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0d0c0d 0%,#0d0c0d 38%,#0d0c0d 51%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0d0c0d 0%,#0d0c0d 38%,#0d0c0d 51%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #0d0c0d 0%,#0d0c0d 38%,#0d0c0d 51%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0c0d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  color: #dfdfdf;
  padding-top: 12px;
}

#footer .container {
	margin-left: auto;
 	margin-right: auto;
 	padding: 5px 0;
}

#footer p {
	font-size: 0.8em;
}

#footer .col-md-8 p {
 	text-align: left;
 	padding-bottom: 1px;
 }

 #footer .col-md-4 p {
 	text-align: center;
 }

.back-to-top {
	bottom: 2em;
	text-decoration: none;
	font-size: 12px;
	padding: 0.5em;
	border: none;
}

.back-to-top:hover {    
    background-color: #8aa3bf;
    border: none;
}
@media(max-width:767px){
	#my-carousel, #my-header.container .jumbotron {
		height: auto;
	}
	#my-header .slide1 h1 {
		font-size: 2em;
	}
	#my-header .slide1 p {
		font-size: 1em;
		padding: 5px 0;
	}

	#my-header .slide1 .subtext {
		font-size: 1em;
	}
}
@media(min-width:768px){
	#my-carousel, #my-header.container .jumbotron {
		height: auto;
	}
}
@media(min-width:992px){
	#my-carousel, #my-header.container .jumbotron {
		height: auto;
	}
}
@media(min-width:1200px){
	#my-carousel, #my-header.container .jumbotron {
		height: auto;
	}
}
@media(max-width: 320px){
	.left-col .label, .right-col .label {
		display: none;
	}
}
@media(min-width: 321px) and (max-width: 480px) {
	.left-col .label, .right-col .label {
		display: none;
	}
}