/* Decoration
=====================================================================================================
*/

/* ------ Labels ------ */
.gridder-list .label {
    position: absolute;
    top: 0;
    background-color: darken($black, 10%);
    color: white;
    padding: .5em 1em;
    opacity: .9;
    border-bottom-right-radius: 1em;
    border-right: .2em solid lighten($darkPink, 30%);
    border-bottom: .2em solid lighten($darkPink, 30%);

    p {
        text-align: center;
    }
}
