/*Table of contents
1 Responsive images
2. Overlay images
=====================================================================================================
*/

/*1. Responsive images
=====================================================================================================*/
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*2. Overlay images
=====================================================================================================*/
.outer-box {
  display:block;
  position:relative;
  
  img {
    border: 1px solid $blackTint75;
  }
  .caption {
    border: 1px solid $blackTint75;
    -webkit-box-shadow: 0 8px 6px -6px $blackTint50;
    -moz-box-shadow: 0 8px 6px -6px $blackTint50;
    box-shadow: 0 8px 6px -6px $blackTint50;
    padding: 0 1em 1em 1em;
    background-color: $whiteShade5;

    .bigger {
      color: $darkPink;
    }
    p {
      margin: 0.5em 0;
      color: $black;
    }
    .inline-list {
      margin-left: 1px;
    }
    .label {
      width: auto;
      @include border-radius(0.5em);
      color: $black;
      background-color: $grey;
      padding: 0.25em 0.5em;
    }

  }
  .overlay {
    //background: linear-gradient(transparent, rgba(255,255,255,0.3));
    background: none;
    box-shadow: inset 0 0 1em $charcoal, 0 0 1em $blackTint25;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
  }
  &:hover,
  &:focus {
    .overlay {
      opacity: .9;
      transition: opacity .5s;
    }
  }
}
.outer-box:hover {
  text-decoration: none;
}
.outer-box:hover .caption .bigger {
  text-decoration: underline;
}