/* Lists
=====================================================================================================
*/

/* ------ Bulleted list ------ */
.bulleted__list {
    list-style-type: disc;
    margin-left: 1em;
}

/* ------ Inline list ------ */
.inline__list {
	list-style: none;
    margin-top: 0;
    margin-bottom: 0.94444rem;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
}
.inline__list > li {
    display: block;
    float: left;
    list-style: none;
    margin: 0.2em 1.22222rem 0.2em 0;
}
.inline__list > li > * {
	display: block;
}
