/* Navigation
=====================================================================================================
*/

/* ------ Primary navigation ------ */
nav .inline__list {
    padding: .5em 2em;
}

nav .inline__list a {
    color: $pink;
    cursor: pointer;
}
nav .inline__list a:hover {
    color: $cream;
}
nav .inline__list li + li::before {
    content: " > ";
}