/* Breakpoints
=====================================================================================================
*/

/* ------ Small screens ------ */
$break-sm: "min-width: 25em";

/* ------ Medium screens ------ */
$break-md: "min-width: 40.063em";

/* ------ Large screens ------ */
$break-lg: "min-width: 64.063em";

/* ------ Extra large screens ------ */
$break-xlg: "min-width: 90.063em";