/*===================================================================================================
Susy
=====================================================================================================*/
$susy: (
	columns: 12,
	global-box-sizing: border-box,
  	container: 1120px,
  	gutters: 1/4,
  	gutter-position: inside,
	/*debug: (
		image: show,
		output: overlay,
		toggle: bottom left
	)*/
);

@include border-box-sizing;

.container {
	@include container(25em);
	
	@media screen and ($break-sm) {
		@include container(34.375em);
	}
	@media screen and ($break-md) {
		@include container(46.875em);
	}
	@media screen and ($break-lg) {
		@include container(62.500em);
	}
	@media screen and ($break-xlg) {
		@include container(75.000em);
	}
	overflow: hidden;
	padding: 0 1em;
}
.row {
	display: block;
	@media screen and ($break-lg) {
		margin: 0 -0.6em;
	}
}
.row:before,
.row:after {
	display: table;
	content: "";
	box-sizing: border-box;
	clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  min-height: 1px;
  margin-bottom: 1.75em;
}
.col-1 {
	@media screen and ($break-lg) {
		@include span(1 of 12);
	}
}
.col-2 {
	@media screen and ($break-lg) {
		@include span(2 of 12);
	}
}
.col-3 {
	@media screen and ($break-lg) {
		@include span(3 of 12);
	}
}
.col-4 {
	@media screen and ($break-lg) {
		@include span(4 of 12);
	}
}
.col-5 {
	@media screen and ($break-lg) {
		@include span(5 of 12);
	}
}
.col-6 {
	@media screen and ($break-lg) {
		@include span(6 of 12);
	}
}
.col-7 {
	@media screen and ($break-lg) {
		@include span(7 of 12);
	}
}
.col-8 {
	@media screen and ($break-lg) {
		@include span(8 of 12);
	}
}
.col-9 {
	@media screen and ($break-lg) {
		@include span(9 of 12);
	}
}
.col-10 {
	@media screen and ($break-lg) {
		@include span(10 of 12);
	}
}
.col-11 {
	@media screen and ($break-lg) {
		@include span(11 of 12);
	}
}
.col-12 {
	@media screen and ($break-lg) {
		@include span(12);
	}
}