/* Typography
=====================================================================================================
*/

/* ------ Vertical rhythm ------ */

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    line-height: 1.5;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: $paragraph;
}
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: $paragraph;
    font-weight: 700;
}

p, 
ul, 
ol, 
dl, 
blockquote, 
pre, 
td, 
th, 
textarea,
caption {
    font-family: $paragraph;
    font-size: 1em; /* equiv 16px */
    line-height: 1.5;
    margin: 0 0 1.5em 0;
}
h1, 
.h1-like {
    font-family: $headings;
    font-size:  2em;
    line-height:  1;
    margin: 0 0  1em 0;
    @media (min-width: $bp-l) {
        font-size: 2.2em;
    }
}
h2, 
.h2-like {
    font-size:  1.25em; /* equiv 20px */
    line-height:  1.2;
    margin: 0 0  1.2em 0;
    text-transform: uppercase;
    letter-spacing: .1em;
}
h3, 
.h3-like {
    font-size:  1.125em; /* equiv 18px */
    line-height:  1.3333;
    //margin: 0 0  1.3333em 0;
    margin: 0 0  .3333em 0;
}
h4, 
.h4-like {
    font-size:  1.0625em; /* equiv 17px */
    line-height:  1.4118;
    //margin: 0 0  1.4118em 0;
    margin: 0 0  .4118em 0;
}
h5, 
.h5-like {
    font-size:  1em; /* equiv 16px */
    line-height:  1.5;
    //margin: 0 0  1.5em 0;
    margin: 0 0  .5em 0;
}
h6, 
.h6-like {
    font-size:  1em; /* equiv 16px */
    line-height:  1.5;
    //margin: 0 0  1.5em 0;
    margin: 0 0  .5em 0;
}
.smaller {
    font-size: .75em; /* equiv 12px */
    line-height:  2;
    margin:  2em 0  2em 0;
}
.small {
    font-size: .875em; /* equiv 14px */
    line-height:  1.7143;
    margin:  1.7143em 0  1.7143em 0;
}
.big {
    font-size:  1.125em; /* equiv 18px */
    line-height:  1.3333;
    margin:  1.3333em 0  1.3333em 0;
}
.bigger {
    font-size:  1.25em; /* equiv 20px */
    line-height:  1.2;
    margin:  1.2em 0  1.2em 0;
}
.biggest {
    font-size:  1.375em; /* equiv 22px */
    line-height:  1.0909;
    margin:  1.0909em 0  1.0909em 0;
}
li p,
li ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* you shall not pass */
textarea,
table, 
td, 
th, 
code, 
pre, 
samp, 
div, 
p {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
code, 
pre, 
samp {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code {
    line-height: 1;
}
table {
    margin-bottom: 1.5em;
}

/* ------ Links ------ */
a {
    color: $darkPink;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: $black;
    text-decoration: underline;
}
a:focus {
    color: black;
    outline: 1px solid $darkPink;
    outline-offset: 2px;
}