/*
Utility classes
=====================================================================================================
*/

/* ------ Screen-reader content ------ */
.sr-only {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* ------ Notifications ------ */
#message {
	background: #333;
	color: #fff;
	text-align: center;
}
#message .hide:hover,
#message .hide:focus, {
	color: $white;
}
.slideup, .slidedown {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}
.slidedown {            
    max-height: 80px;                    
}    