@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700|Quattrocento+Sans);

/* Variables
=====================================================================================================
*/

/* ------ Colours ------ */
$pink: #e05d6e;
$darkPink: #d1283e;
$black: #333;
$charcoal: #505050;
$white: #f2f2f2;
$cream: #e3e5da;
$grey: #d8d8d8;

/* ------ Breakpoints ------ */
$bp-s: 420px;
$bp-m: 720px;
$bp-l: 1100px;
$bp-xlg: 1450px;

/* ------ Fonts ------ */
$headings: 'Lusitana', serif;
$paragraph: 'Quattrocento Sans', sans-serif;